#canvas{
    background-image: url(5571916.jpg);
    background-size: 132vw;
    background-position: center;
    background-repeat: no-repeat;
    background-color: grey;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    display:block;
    width:100px,100px;
    
}

#pressEnter{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 1400px;
    height: 800px;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}

